/* Container principal da Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
  transition: all 0.4s ease-in-out;
  border-bottom: 1px solid transparent;
}

/* Estado quando o usuário rola a página para baixo */
.navbar.scrolled {
  background-color: rgba(10, 10, 12, 0.95);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--color-bg-secondary);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

/* Centralização do conteúdo */
.navbar-container {
  max-width: var(--container-width);
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilo do Logo */
.navbar-logo a {
  text-decoration: none;
  font-family: var(--font-heading);
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-text-primary);
  letter-spacing: 2px;
  transition: color 0.3s ease;
}

.highlight-p {
  color: var(--color-accent-glow);
  text-shadow: 0 0 8px rgba(74, 111, 165, 0.6);
}
.highlight-wiki {
  color: var(--color-accent-gold);
  text-shadow: 0 0 8px rgba(74, 111, 165, 0.6);
}
.navbar-logo a:hover {
  color: var(--color-accent-gold);
}

/* Lista de Links */
.navbar-links {
  list-style: none;
  display: flex;
  gap: 40px;
}

.navbar-links li a {
  text-decoration: none;
  font-family: var(--font-body);
  font-size: 0.95rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: var(--color-text-secondary);
  position: relative;
  transition: color 0.3s ease, text-shadow 0.3s ease;
  padding: 5px 0;
}

/* Efeito Hover e Active PADRÃO (Dourado) */
.navbar-links li a:hover,
.navbar-links li a.active {
  color: var(--color-accent-gold);
  text-shadow: 0 0 5px rgba(194, 153, 91, 0.4);
}

.navbar-links li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--color-accent-details);
  transition: width 0.3s ease;
}

.navbar-links li a:hover::after,
.navbar-links li a.active::after {
  width: 100%;
}

/* --- EXCLUSIVO DLC (AZUL ERGO) --- */

/* Sobrepõe a cor dourada para o link da DLC */
.navbar-links li a.nav-dlc:hover,
.navbar-links li a.nav-dlc.active {
  color: #00d4ff;
  text-shadow: 0 0 10px rgba(0, 212, 255, 0.6);
}

/* Sobrepõe a cor da linha decorativa para azul na DLC */
.navbar-links li a.nav-dlc::after {
  background-color: #00d4ff;
}

/* Responsividade Básica */
@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  
  .navbar-links {
    gap: 20px;
    font-size: 0.8rem;
  }
}